.btn-open{
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: rgb(118, 184, 255);
}

.table-row-notification{
  background-color: #D9E8FF;
  font-weight: bold;
}
